@import "./../../theme/variables";

.app {
  .appContent {
    margin: 50px 0; // for fixed navbar
    position: relative;
    min-height: calc(100vh - 401px);
  }
}

.notifs {
  margin: 15px 0;
}

:global(.form-control-feedback) {
  text-align: inherit;
}
